.header-container{
    width: 100%;
    height: 100%;
    background-color: rgb(170, 116, 78);
    text-align: center;
    padding:10px;
}
.logo-container{
    background-color: white;
    width: 10%;
    height: 5%;
}